body,code,div,span,h1,h2,h3,h4,h5,h6,p,pre,a,del,em,img,strong,tt,b,u,i,dl,dt,dd,ol,ul,li,fieldset,form,input:not([type="checkbox"]),select,label,legend,section,table,caption,tbody,tfoot,thead,tr,th,td,textarea,canvas,embed,mark,audio,video,menu {
	box-sizing:border-box;
	margin:0;
	padding:0;
	background-color:transparent;
	border:none;
	line-height:1;
	vertical-align:baseline;
	-webkit-font-smoothing:antialiased
}
ol,ul {
	list-style:none
}
table {
	border-collapse:collapse;
	border-spacing:0
}
textarea {
	resize:none
}
a {
	color:inherit;
	text-decoration:none;
	cursor:pointer
}
i {
	display:block
}
a,b,dl,dt,dd,em,h1,h2,h3,h4,h5,h6,i,input,label,li,mark,p,span,strong,textarea,u {
	font-weight:normal;
	font-style:normal;
	font-family:Arial,SimHei
}
* {
	font-family:Microsoft Yahei
}
*:before,*:after {
	box-sizing:border-box
}
::-webkit-file-upload-button {
	cursor:pointer
}
.w1200 {
	width:1200px
}
.full {
	float:left;
	width:100%
}
i {
	display:-webkit-box;
	display:-moz-box;
	display:inline-block;
	vertical-align:middle;
}
i.icon20 {
	width:20px;
	height:20px
}
i.icon30 {
	width:30px;
	height:30px
}
.topNav {
	float:left;
	width:100%;
	height:31px;
	background-color:#eaeaea;
	border-bottom:1px solid #c9c9c9;
}
.topNav .w1200 {
	position:relative;
	margin:0 auto;
	z-index:2
}
.topNav .supNav {
	display:-webkit-box;
	display:-moz-box;
	display:block;
	padding:0 10px;
	text-align:center;
	font-size:12px;
	line-height:30px;
}
.topNav .supNav .column {
	-webkit-box-shadow:-4px 0 0 #eaeaea inset,4px 0 0 #eaeaea inset,0 5px 0 #eaeaea inset,0 7px 0 #666 inset,0 9px 0 0 #eaeaea inset,0 11px 0 #666 inset,0 13px 0 #eaeaea inset,0 15px 0 #666 inset;
	box-shadow:-4px 0 0 #eaeaea inset,4px 0 0 #eaeaea inset,0 5px 0 #eaeaea inset,0 7px 0 #666 inset,0 9px 0 0 #eaeaea inset,0 11px 0 #666 inset,0 13px 0 #eaeaea inset,0 15px 0 #666 inset
}
.topNav .supNav a {
	color:#666
}
.topNav a.supNav {
	float:left;
	height:30px;
	color:#666;
}
.topNav a.supNav:hover {
	color:#4080ff
}
.topNav div.supNav {
	float:right;
	height:31px;
	border:1px solid transparent;
}
.topNav div.supNav:hover {
	background-color:#fff;
	border-right-color:#c9c9c9;
	border-left-color:#c9c9c9;
	border-bottom-color:#fff;
}
.topNav div.supNav:hover i {
	-webkit-box-shadow:-4px 0 0 #fff inset,4px 0 0 #fff inset,0 5px 0 #fff inset,0 7px 0 #4080ff inset,0 9px 0 0 #fff inset,0 11px 0 #4080ff inset,0 13px 0 #fff inset,0 15px 0 #4080ff inset;
	box-shadow:-4px 0 0 #fff inset,4px 0 0 #fff inset,0 5px 0 #fff inset,0 7px 0 #4080ff inset,0 9px 0 0 #fff inset,0 11px 0 #4080ff inset,0 13px 0 #fff inset,0 15px 0 #4080ff inset
}
.topNav div.supNav:hover > a {
	color:#4080ff
}
.topNav div.supNav:hover .subNav {
	display:-webkit-box;
	display:-moz-box;
	display:block
}
.topNav div.supNav .subNav {
	position:absolute;
	display:-webkit-box;
	display:-moz-box;
	display:none;
	top:31px;
	left:0;
	padding:10px;
	width:1200px;
	overflow:hidden;
	background-color:#fff;
	border-width:0 1px 1px;
	border-style:solid;
	border-color:#c9c9c9;
	text-align:initial;
}
.topNav div.supNav .subNav .section {
	float:left;
	padding:6px 10px;
	width:50%;
}
.topNav div.supNav .subNav .section:hover {
	background-color:#eaeaea
}
.topNav div.supNav .subNav h1 {
	font-size:12px;
	line-height:2;
}
.topNav div.supNav .subNav h1 span {
	padding:0 3px;
	background-color:#f00;
	-webkit-border-radius:2px;
	border-radius:2px;
	color:#ff0
}
.topNav div.supNav .subNav h1 strong {
	margin-left:4px;
	font-weight:bold
}
.topNav div.supNav .subNav h1 b {
	margin-left:6px
}
.topNav div.supNav .subNav h2 {
	font-size:12px;
	line-height:1.5;
}
.topNav div.supNav .subNav h2 span {
	color:#666
}
.topNav div.supNav .subNav h2 b {
	margin-right:3px;
	font-weight:bold;
	color:#0080ff;
}
.topNav div.supNav .subNav h2 b:first-of-type:before {
	margin-left:10px;
	content:"参数:";
	color:#000
}
.header {
	float:left;
	width:100%;
}
.header .w1200 {
	margin:0 auto
}
.header .logoPart {
	float:left;
	padding:10px 0;
	width:100%;
}
.header .logoPart .logo {
	float:left;
	display:-webkit-box;
	display:-moz-box;
	display:block;
	width:132px;
	height:50px;
	background-image:url("http://www.ikindness.cn/base/image/logo.png");
	background-position:50% 50%;
	-webkit-background-size:contain;
	-moz-background-size:contain;
	background-size:contain
}
.header .logoPart .search {
	float:left
}
.header .logoPart .anchor {
	float:right;
	margin-top:30px;
	margin-left:30px;
	font-size:16px;
	font-weight:bold;
	line-height:20px;
	color:#424242;
}
.header .logoPart .anchor:hover {
	color:#4080ff
}
.footer {
	background-color:#242424;
	border-top:3px solid #4080ff;
}
.footer .w1200 {
	margin:0 auto;
	padding:10px 0;
	text-align:center
}
.footer a {
	font-size:12px
}
.footer .top a {
	margin-right:18px;
	line-height:2;
	color:#fff
}
.footer .bottom a {
	margin-right:12px;
	line-height:1.5;
	color:#c9c9c9;
}
.footer .bottom a.cnzz:before {
	margin-right:6px;
	display:-webkit-box;
	display:-moz-box;
	display:inline-block;
	content:"";
	width:50px;
	height:14px;
	background-image:url("/base/image/cnzz.gif");
	background-repeat:no-repeat;
	background-position:0 -1px;
	vertical-align:middle
}
.banner {
	position:relative;
	float:left;
	width:100%;
	height:480px;
	border-style:solid;
	border-color:#4080ff;
	border-width:3px 0 0;
}
.banner .img {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background-color:#fff;
	background-position:50% 50%
}
.banner .indicator {
	position:absolute;
	bottom:20px;
	left:50%;
	padding:2px 4px;
	background-color:rgba(255,255,255,0.6);
	-webkit-border-radius:6px;
	border-radius:6px;
	-webkit-transform:translateX(-50%);
	-khtml-transform:translateX(-50%);
	-moz-transform:translateX(-50%);
	-o-transform:translateX(-50%);
	-ms-transform:translateX(-50%);
	transform:translateX(-50%);
	z-index:1;
}
.banner .indicator em {
	float:left;
	display:-webkit-box;
	display:-moz-box;
	display:block;
	width:10px;
	height:10px;
	background-color:#4080ff;
	border:1px solid #eaeaea;
	-webkit-border-radius:50%;
	border-radius:50%;
	cursor:pointer;
}
.banner .indicator em.current {
	background-color:#ff8040
}
.banner .indicator em:not(:last-of-type) {
	margin-right:4px
}
.banner.tab .img.current {
	z-index:1
}
.banner.fade .img {
	-webkit-opacity:0;
	-moz-opacity:0;
	opacity:0;
	filter:alpha(opacity=0);
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
}
.banner.fade .img.current {
	-webkit-animation:fade 1s forwards;
	-khtml-animation:fade 1s forwards;
	-moz-animation:fade 1s forwards;
	-o-animation:fade 1s forwards;
	-ms-animation:fade 1s forwards;
	animation:fade 1s forwards
}
@-moz-keyframes fade {
	to {
	-webkit-opacity:1;
	-moz-opacity:1;
	opacity:1;
	-ms-filter:none;
	filter:none
}
}@-webkit-keyframes fade {
	to {
	-webkit-opacity:1;
	-moz-opacity:1;
	opacity:1;
	-ms-filter:none;
	filter:none
}
}@-o-keyframes fade {
	to {
	-webkit-opacity:1;
	-moz-opacity:1;
	opacity:1;
	-ms-filter:none;
	filter:none
}
}@keyframes fade {
	to {
	-webkit-opacity:1;
	-moz-opacity:1;
	opacity:1;
	-ms-filter:none;
	filter:none
}
}.full {
	margin-top:10px
}
.facade {
	float:left;
	width:100%;
	overflow:hidden;
}
.facade .w1200 {
	position:relative;
	margin:0 auto
}
.facade .category {
	position:absolute;
	top:0;
	left:0;
	width:180px;
	height:480px;
	background-color:rgba(0,32,96,0.75);
	z-index:1;
}
.facade .category .section {
	float:left;
	padding:10px 10px;
	width:100%;
	border-bottom:1px solid transparent;
}
.facade .category .section:hover {
	background-color:rgba(0,48,204,0.4)
}
.facade .category .section .sup {
	float:left;
	display:-webkit-box;
	display:-moz-box;
	display:block;
	width:100%;
	font-size:18px;
	font-weight:bold;
	line-height:1.5;
	color:#fff
}
.facade .category .section .sub {
	margin-right:10px;
	font-size:14px;
	line-height:1.2;
	color:#eaeaea
}
.news .w1200 {
	margin:0 auto;
	padding:15px 0;
	overflow:hidden;
	border-bottom:1px dashed #eaeaea;
}
.news .w1200 > div {
	float:left;
}
.news .w1200 > div h1 {
	margin-bottom:4px;
	font-size:18px;
	line-height:2;
	font-weight:bold;
	border-bottom:2px solid #eaeaea
}
.news .w1200 > div a {
	font-size:14px;
	line-height:24px;
}
.news .w1200 > div a:hover {
	color:#4080ff
}
.news .w1200 > div.left {
	margin-right:20px;
	width:300px
}
.news .w1200 > div.center {
	margin-right:20px;
	width:660px;
}
.news .w1200 > div.center p {
	float:left;
	padding-right:20px;
	width:330px;
	overflow:hidden;
	white-space:nowrap;
	text-overflow:ellipsis
}
.news .w1200 > div.right {
	width:200px
}
.gallary {
	padding-bottom:3px;
	overflow:hidden;
}
.gallary .w1200 {
	margin:0 auto;
}
.gallary .w1200 h1 {
	text-align:center;
	font-size:28px;
	font-weight:bold;
	line-height:2;
	color:#4080ff
}
.gallary .w1200 .case {
	position:relative;
	float:left;
	margin-top:10px;
	display:-webkit-box;
	display:-moz-box;
	display:block;
	width:228px;
	height:228px;
	overflow:hidden;
	background-repeat:no-repeat;
	background-position:50% 50%;
	-webkit-background-size:contain;
	-moz-background-size:contain;
	background-size:contain;
	-webkit-box-shadow:1px 1px 2px 1px #c9c9c9;
	box-shadow:1px 1px 2px 1px #c9c9c9;
}
.gallary .w1200 .case:hover .detail {
	-webkit-animation:slide .25s cubic-bezier(.3,.2,.8,.2) forwards;
	-khtml-animation:slide .25s cubic-bezier(.3,.2,.8,.2) forwards;
	-moz-animation:slide .25s cubic-bezier(.3,.2,.8,.2) forwards;
	-o-animation:slide .25s cubic-bezier(.3,.2,.8,.2) forwards;
	-ms-animation:slide .25s cubic-bezier(.3,.2,.8,.2) forwards;
	animation:slide .25s cubic-bezier(.3,.2,.8,.2) forwards
}
.gallary .w1200 .case:not(:nth-of-type(5n)) {
	margin-right:15px
}
.gallary .w1200 .case .detail {
	position:absolute;
	top:228px;
	left:0;
	padding:10px;
	width:100%;
	height:100%;
	background-color:rgba(0,0,0,0.75);
}
.gallary .w1200 .case .detail strong {
	float:left;
	width:100%;
	text-align:center;
	font-size:20px;
	line-height:2;
	color:#fff
}
.gallary .w1200 .case .detail p {
	float:left;
	width:100%;
	font-size:12px;
	line-height:1.5;
	letter-spacing:1px;
	color:#fff;
	text-shadow:0 0 3px #4080ff
}
@-moz-keyframes slide {
	to {
	top:0
}
}@-webkit-keyframes slide {
	to {
	top:0
}
}@-o-keyframes slide {
	to {
	top:0
}
}@keyframes slide {
	to {
	top:0
}
}